@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.about {
    @include max-width;
    margin-bottom: $marginBottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-margin-top: 16rem;

    @include device(mobile) {
        margin-bottom: $marginBottomMobile;
    }

    @include device(tablet) {
        flex-direction: column;

    }

    .image,
    img {
        width: 100%;
        max-width: 47rem;
        height: 43rem;
        position: relative;

        @include device(notebook){
            margin-bottom: 4rem;
        }

        .box {
            position: relative;
            top: -54rem;
            left: -1rem;
        }

    }

    .content {
        width: 100%;
        max-width: 60rem;

        a {
            margin-top: 1.5rem;
        }
    }
}